<div class="employee-list-container">
  <div class="header">
    <h2>Employee Management System</h2>
    <button kendoButton [primary]="true" (click)="onAddEmployee()">
      Add Employee
    </button>
  </div>
  
  <kendo-grid
    [data]="employees"
    [pageable]="true"
    [pageSize]="10"
    [sortable]="true"
    [resizable]="true"
  >
    <kendo-grid-column
      field="userName"
      title="User Name"
      [width]="150"
    ></kendo-grid-column>

    <kendo-grid-column
      field="email"
      title="Email"
      [width]="200"
    ></kendo-grid-column>

    <kendo-grid-column
      field="joiningDate"
      title="Joining Date"
      [width]="130"
      format="{0:dd/MM/yyyy}"
    ></kendo-grid-column>

    <kendo-grid-column
      field="mobile"
      title="Mobile"
      [width]="140"
    ></kendo-grid-column>

    <kendo-grid-column
      field="gender"
      title="Gender"
      [width]="100"
    ></kendo-grid-column>

    <kendo-grid-column
      field="languagesKnown"
      title="Languages Known"
      [width]="200"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ formatLanguages(dataItem.languagesKnown) }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      title="Actions"
      [width]="120"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <button
          kendoButton
          [primary]="true"
          (click)="onEditClick(dataItem)"
        >
          Edit
        </button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <!-- Employee Form Dialog -->
  <app-employee-form
    *ngIf="showDialog"
    [employee]="selectedEmployee"
    (closeDialog)="onCloseDialog()"
    (employeeSaved)="onEmployeeSaved()"
  ></app-employee-form>
</div>
